@import "@fontsource/victor-mono/400.css";
@import "@fontsource/victor-mono/500.css";
@import "@fontsource/victor-mono/700.css";
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@custom-variant dark (&:where(.mocha, .mocha *));

@theme {
  --font-mono: "Victor Mono", monospace;
}

html {
  font-family: var(--font-mono);
}

body {
  @apply bg-[var(--catppuccin-color-base)] text-[var(--catppuccin-color-text)] transition-colors duration-200;
}
