---
interface Props {
  links: {
    href: string;
    label: string;
    isActive: boolean;
  }[];
}

const { links } = Astro.props;
---

<nav class="hidden sm:ml-6 sm:flex sm:space-x-8" aria-label="Main">
    {
        links.map((link) => (
            <a
                href={link.href}
                class:list={[
                    "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium transition-colors duration-200",
                    link.isActive
                        ? "border-ctp-mauve text-ctp-text"
                        : "border-transparent text-ctp-subtext0 hover:border-ctp-surface1 hover:text-ctp-text",
                ]}
                aria-current={link.isActive ? "page" : undefined}
            >
                {link.label}
            </a>
        ))
    }
</nav>
