---
import { UMAMI_WEBSITE_ID } from 'astro:env/client';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Olly Nevard</title>
		{
			UMAMI_WEBSITE_ID && (
				<script
					defer
					src="https://cloud.umami.is/script.js"
					data-website-id={UMAMI_WEBSITE_ID}
				/>
			)
		}
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
